@mixin flex($align: null, $justify: null, $gap: null, $grow: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  @if $grow {
    @each $child in $grow {
      & > #{$child} {
        flex: 1;
      }
    }
  }
}

@mixin row(
  $align: null,
  $justify: null,
  $gap: null,
  $grow: null,
  $reverse: false
) {
  @include flex($align, $justify, $gap or $normal-gap, $grow);
  @if $reverse {
    flex-direction: row-reverse;
  } @else {
    flex-direction: row;
  }
}

@mixin column(
  $align: null,
  $justify: null,
  $gap: null,
  $grow: null,
  $reverse: false
) {
  @include flex($align, $justify, $gap or $normal-gap, $grow);
  @if $reverse {
    flex-direction: column-reverse;
  } @else {
    flex-direction: column;
  }
}
