@mixin full-height {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  @at-root html {
    height: -webkit-fill-available;
  }
}

@mixin layout {
  @include full-height;
  @include column($gap: 0, $grow: main);
  @include float(".mermaidTooltip", $bottom: 0);

  margin: 0;

  & > a.link-main {
    @include hidden;
  }

  & > * {
    @include centered-horizontally;
  }

  & > header {
    @include row(
      $align: flex-start,
      $justify: space-between,
      $grow: ".control-box"
    );
    @include needs-huge-vertical-space-on-desktop;
    @include slim-on-mobile;
    @include hidden-on-print;
    .home-link {
      @include navigation;
      @include thin-padded;
      @include row($align: center);

      .avatar {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
      }

      font: {
        size: 1.25rem;
        weight: 300;
      }
      letter-spacing: -1px;
      text-decoration: none;
    }

    .control-box {
      @include float(".controls", $top: 0, $right: 0, $z-index: 1);
      overflow: visible;

      .controls {
        @include theme-controls;
      }
    }
  }

  & > main {
    @media print {
      @include needs-large-vertical-space;
    }
    & > p {
      @include paragraph;
    }
  }

  & > main.home {
    header {
      @include needs-large-vertical-space;
      @include row($align: center);
      @include padded;
      h1 {
        margin: 0;
      }
    }
    a.feed-link {
      @include navigation;
      @include square-padded;
      @include hidden-on-print;
    }
  }

  & > main.error {
    @include huge-icons;
    @include column($align: center, $justify: center);
    text-align: center;
  }

  & > footer {
    @include row($align: center, $justify: center, $gap: 0);
    @include needs-huge-vertical-space-on-desktop;
    @include slim-on-mobile;
    @include hidden-on-print;
    & > * {
      @include navigation;
      @include square-padded;
    }
  }
}
