@mixin has-tags {
  .tags {
    @include row;
    flex-wrap: wrap;
    list-style: none;
    .tag {
      &::before {
        content: "#";
      }
      @include normal-text;
      @include rounded-box;
      @include thin-padded;
      @include background-color;
      font: {
        weight: bold;
        size: 0.65rem;
      }
      line-height: 1em;
      @include hover(
        $after: (
          background-color: $background-primary-color,
        )
      );
    }
  }
}
