@mixin has-cover-image {
  img {
    @include responsive-image;
    @include responsive-rounded-box;
    filter: sepia(10%) hue-rotate(calc(var(--hue) * 1deg));
    width: 100%;
  }
}
@mixin has-cover-tags {
  .tags {
    @include padded;
    margin: 0;
  }
}

@mixin has-cover {
  .cover {
    @include has-cover-image;
    @include has-cover-tags;
    @include float(".tags");
    @include column($gap: 0);
    @include needs-huge-vertical-space-on-desktop;
  }
}

@mixin has-cards {
  .cards {
    $columns: 2;
    $min-width: 350px;
    $card-gap: $huge-gap;
    $target_width: calc(
      (#{$width} + #{$card-gap}) / #{$columns} - #{$card-gap}
    );
    $card-width: calc(min(100vw, max(#{$min-width}, #{$target_width})));
    $card-height: calc(min(100vw, max(#{$card-width}, #{$target_width})));

    @include needs-huge-vertical-space;
    @include row($gap: $card-gap, $grow: ".card");
    padding: 0;
    flex-wrap: wrap;
    & > card {
      flex: 1 0 10%;
    }

    .card {
      @include has-cover-image;
      @include has-cover-tags;
      @include float(img, $z-index: -1);
      @include rounded;
      @include column($reverse: true, $gap: 0, $justify: space-between);
      @include border-overlap-fix;
      min-width: $card-width;
      height: $card-height;
      @media print {
        height: fit-content;
      }
      .card-link {
        @include normal-text;
        @include column($gap: 0, $justify: flex-end);
        .drawer {
          @include responsive-rounded-box;
          @include padded;
          @include column($gap: 0, $justify: flex-end);
          overflow: hidden;
          .title {
            @include row($grow: "p:first-child", $align: flex-end);
            @include has-time;
            p:first-child {
              @include max-lines(2);
              font: {
                size: larger;
                weight: bold;
              }
              margin: 0;
              overflow: visible;
            }
          }
          .summary {
            @include noninteractive(max-height, $card-height);
            p {
              @include max-lines(4);
              font-size: smaller;
            }
          }
        }
      }
      @include hover(
        ".tags",
        $before: (filter: opacity(0%)),
        $after: (filter: opacity(100%))
      );
      @include hover(
        ".summary",
        $before: (max-height: 0),
        $after: (max-height: $card-height)
      );
    }
  }
}
