---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Photo from "@components/Photo.astro";

const photos = (await getCollection("photos")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<BaseLayout title="photos" description="My photography.">
  <div class="flex flex-row flex-wrap justify-center gap-4">
    {
      photos.map((photo) => (
        <Photo
          link={`./photography/${photo.id}`}
          image={photo.data.square}
          description={photo.data.description}
        />
      ))
    }
  </div>
</BaseLayout>
