---
import Photo from "~/components/Photo.astro";
import { getPhotos } from "~/content.ts";
import FeedLayout from "~/layouts/FeedLayout.astro";

const photos = await getPhotos();
---

<FeedLayout
  description=`I enjoy playing with light and images, capturing unique moments and details with my phone.`
  tab="photos"
  title="Photography"
>
  <ul class="flex flex-row flex-wrap justify-between gap-4">
    {
      photos.map((photo) => (
        <li class="grow">
          <Photo
            description={photo.data.description}
            image={photo.data.square}
            link={`./photography/${photo.id}`}
            title={photo.data.title}
          />
        </li>
      ))
    }
  </ul>
</FeedLayout>
