---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Photo from "@components/Photo.astro";

const photos = await getCollection("photos");
---

<BaseLayout title="photos" description="My photography.">
  <div class="flex flex-row flex-wrap gap-4 justify-center">
    {
      photos.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((photo) => (
        <Photo
          link={`./photography/${photo.id}`}
          image={photo.data.square}
          description={photo.data.description}
        />
      ))
    }
  </div>
</BaseLayout>
