---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Photo from "@/components/Photo.astro";
import { getPhotos } from "@/content";

const photos = await getPhotos();
---

<BaseLayout tab="photos" title="Photography" description="My photography.">
  <div class="flex flex-row flex-wrap justify-between gap-4">
    {
      photos.map((photo) => (
        <Photo
          link={`./photography/${photo.id}`}
          image={photo.data.square}
          description={photo.data.description}
        />
      ))
    }
  </div>
</BaseLayout>
