---
---

$background-color: hsl(0, 0%, 0%) !default;
$text-color:       hsl(240, 50%, 90%) !default;
$brand-color:      hsl(240, 40%, 50%) !default;
$grey-color:       hsl(240, 0%, 10%) !default;
$grey-color-light: hsl(240, 0%, 16%) !default;
$grey-color-dark:  hsl(240, 0%, 14%) !default;

@import "minima";

@import "table.css";
@import "code.css";
@import "chart.css";

html[data-theme="dark"] {
    --background-color: hsl(0, 0%, 0%);
    --background-color-secondary: hsl(0, 0%, 10%);
    --text-color: hsl(240, 50%, 90%);
    --text-color-secondary: hsl(240, 10%, 50%);
    --text-color-dark: hsl(240, 10%, 15%);
    --icon-color: hsl(240, 10%, 25%);
    --link-color: hsl(240, 40%, 50%);
    --grey-light: hsl(240, 0%, 6%);
    --grey-dark: hsl(240, 0%, 4%);
    --hover-brightness: 110%;
}

html[data-theme="light"] {
    --background-color: hsl(240, 50%, 90%);
    --background-color-secondary: hsl(240, 50%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --text-color-secondary: hsl(240, 10%, 50%);
    --text-color-dark: var(--text-color);
    --icon-color: hsl(240, 10%, 75%);
    --link-color: #4040bf;
    --grey-light: hsl(240, 40%, 94%);
    --grey-dark: hsl(240, 50%, 96%);
    --hover-brightness: 90%;
}

body {
    background: var(--background-color) !important;
    color: var(--text-color);
}

a, a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    color: var(--text-color) !important;
}

main a.external-link {
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 12px;
    background-size: 12px;
}

main a.external-link {
    background-image: url('/assets/link-external.svg');
}

button:hover {
    cursor: pointer;
}

.svg-icon {
    width: 24px !important;
    height: 24px !important;
    fill: var(--icon-color);
}

a .svg-icon:hover, button .svg-icon:hover {
    fill: var(--text-color);
}

button, nav {
    background: none !important;
    border: none !important;
}

time {
    color: var(--text-color-secondary);
}

blockquote {
    color: var(--text-color-secondary);
    background: var(--background-color-secondary);
    padding: 6px 18px;
    border-radius: 6px;
    border-left: 4px solid var(--text-color-secondary);
}

.highlight {
    background: none !important;
}

code, pre, pre.highlight {
    background: var(--background-color-secondary) !important;
    border: none;
    border-radius: 6px;
}

.alert {
    color: var(--background-color);
    background-color: var(--text-color) !important;
    border-radius: 6px;
    padding: 6px 12px;
    margin-bottom: 20px;
}

.warning:before {
    content: '⚠️ ';
}

.site-header, .site-footer {
    background: var(--background-color-secondary);
    padding-bottom: 2px;
    padding-top: 2px;
    border: none;
    min-height: auto;
}

.site-title {
    font-size: 24px;
}

.site-title .avatar {
    margin-right: 12px;
}

img.avatar {
    border-radius: 50%;
    border: 2px solid transparent;
    padding: 2px;
}

a:hover img.avatar {
    border: 2px solid var(--text-color) !important;
    border-style: inset;
}

a.site-title {
    text-decoration: none !important;
    color: var(--text-color-secondary) !important;
}

a.site-title:hover {
    color: var(--text-color) !important;
}

.site-title, .footer {
    line-height: 22px;
    letter-spacing: -1px;
}

.site-nav {
    line-height: 36px;
    position: relative;
    left: 0px;
    top: 0px;
}

html[data-theme="dark"] #light-theme-icon, html[data-theme="light"] #dark-theme-icon {
    display: none;
}

.footer-col-wrapper {
    margin: auto;
}

.footer-col {
    margin: auto;
    float: none;
    width: fit-content;
    padding: 6px;
}

.social-media-list {
    margin: 0px;
    text-align: center;
}

.social-media-list li {
    display: inline;
    padding: 6px;
}
