---
---

$background-color: hsl(0, 0%, 0%) !default;
$text-color:       hsl(240, 50%, 90%) !default;
$brand-color:      hsl(240, 40%, 50%) !default;
$grey-color:       hsl(240, 0%, 10%) !default;
$grey-color-light: hsl(240, 0%, 16%) !default;
$grey-color-dark:  hsl(240, 0%, 14%) !default;

@import "minima";

@import url("table.css");
@import url("code.css");
@import url("chart.css");
@import url("tag.css");

:root {
    --border-radius-large: 18px;
    --border-radius: 6px;
    --horizontal-space: calc(min(18px, 3vw));
    --vertical-space: calc(min(12px, 2vw));
}

html[data-theme="dark"] {
    --background-color-content: hsla(240, 10%, 10%, 80%);
    --background-color-secondary: hsl(240, 10%, 10%);
    --background-color: hsl(0, 0%, 0%);
    --cover-filter: hue-rotate(40deg);
    --grey-dark: hsl(240, 10%, 17%);
    --grey-light: hsl(240, 10%, 23%);
    --hover-brightness: 200%;
    --icon-color: hsl(240, 10%, 33%);
    --link-color: hsl(240, 60%, 60%);
    --text-color-dark: hsl(240, 10%, 15%);
    --text-color-secondary: hsl(240, 10%, 66%);
    --text-color: hsl(240, 50%, 90%);
}

html[data-theme="light"] {
    --background-color-content: hsla(240, 40%, 90%, 80%);
    --background-color-secondary: hsl(240, 40%, 80%);
    --background-color: hsl(240, 90%, 100%);
    --cover-filter: opacity(90%);
    --grey-dark: hsl(240, 10%, 90%);
    --grey-light: hsl(240, 10%, 96%);
    --hover-brightness: 50%;
    --icon-color: hsl(240, 10%, 55%);
    --link-color: hsl(240, 60%, 40%);
    --text-color-dark: var(--text-color);
    --text-color-secondary: hsl(240, 10%, 33%);
    --text-color: hsl(0, 0%, 0%);
}

body {
    background: var(--background-color) !important;
    color: var(--text-color);
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:not(a.tag, a.home-link, .card-link):hover,
a.home-link:hover span,
button:hover {
    filter: brightness(var(--hover-brightness));
}

// CSS 4
// .card-header:hover .cover-title,
// .card-header:hover ~ .card-footer,
// .card:has(.cover-footer:hover) .cover-title,
// .card-footer:hover {
//     background-color: var(--icon-color);
// }

.card:hover .cover-title,
.card:hover .card-footer {
    background-color: var(--icon-color);
}

.card-link:hover {
    text-decoration: none !important;
}

@media (hover: none) {
    a:not(a.home-link, a.card-link) {
        text-decoration: underline;
    }

    a.home-link span, a.social-media-item, a.feed-link, button {
        filter: brightness(var(--hover-brightness));
    }
}

main a[rel="external"], main a[href$=".pdf"], main a[href$=".zip"] {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-right: 12px;
}

main a[rel="external"] {
    background-image: url('/assets/link-external.svg');
}

main a[href$=".pdf"] {
    background-image: url('/assets/link-pdf.svg');
}

main a[href$=".zip"] {
    background-image: url('/assets/link-download.svg');
}

.anchor {
    display: flex;
    flex-direction: row;
    gap: var(--horizontal-space);
    margin-left: calc(-24px - 2 * var(--horizontal-space));
}

.anchor-left {
    width: calc(24px + var(--horizontal-space));
}

.anchor-right {
    width: 24px;
}

.anchor-left, .anchor-right {
    background-image: url('/assets/link-anchor.svg');
    background-repeat: no-repeat;
    background-size: 24px;
}

h4 .anchor-right { background-size: 20px; width: 20px; }
h5 .anchor-right { background-size: 16px; width: 16px; }
h6 .anchor-right { background-size: 12px; width: 12px; }

.anchor .anchor-left {
    background-position: left center;
}

.anchor .anchor-right {
    background-position: right center;
}

@media screen and (min-width: 960px) {
    .anchor .anchor-right { visibility: hidden; }
}

@media screen and (max-width: 959px) {
    .anchor .anchor-left { visibility: hidden; }
}

@media screen and (hover: hover) and (min-width: 960px) {
    .anchor .anchor-left { visibility: hidden; }
    .anchor:hover .anchor-left { visibility: visible; }
}

@media screen and (hover: hover) and (max-width: 959px) {
    .anchor .anchor-right { visibility: hidden; }
    .anchor:hover .anchor-right { visibility: visible; }
}

button:hover {
    cursor: pointer;
}

.svg-icon {
    fill: var(--icon-color);
    height: 24px !important;
    width: 24px !important;
    padding: 0px !important;
}

button, nav {
    background: none !important;
    border: none !important;
    margin: 0px;
    padding: 0px;
    line-height: normal;
}

button .svg-icon {
    padding: 0px;
}

.post-header, .card-header {
    aspect-ratio: 2;
    position: relative;
    margin-bottom: 0px;
}

.post-content {
    background-color: var(--background-color-content);
    border-bottom-left-radius: var(--border-radius-large);
    border-bottom-right-radius: var(--border-radius-large);
    margin-left: var(--horizontal-space);
    padding: var(--vertical-space) var(--horizontal-space);
}

.cover-image {
    border-radius: var(--border-radius-large);
    filter: var(--cover-filter);
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.cover {
    display: grid;
    gap: calc(min(6px, 4vw));
    grid-template-areas: "tags time" "title title";
    grid-template-columns: auto auto;
    grid-template-rows: auto min-content;
    height: calc(100% - var(--vertical-space));
    padding: var(--vertical-space) var(--horizontal-space) 0 var(--horizontal-space);
    position: absolute;
    top: 0px;
    width: calc(100% - 2 * var(--horizontal-space));
}

.cover-tags {
    grid-area: tags;
}

.tag-list {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
}

.cover-time {
    grid-area: time;
    margin: 0px;
}

.cover-time time {
    font-size: calc(max(9px, min(18px, 3vw)));
    font-style: oblique;
}

time {
    color: var(--text-color-secondary);
    font-weight: 600;
    margin: 0px;
    white-space: nowrap;
}

.cover-title {
    background-color: var(--background-color-content);
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
    grid-area: title;
    padding: var(--vertical-space) var(--horizontal-space);
    width: 100%;
}

.cover-title h1 {
    color: var(--text-color);
    font-size: calc(max(24px, min(48px, 8vw)));
    font-weight: 600;
    line-height: 1em;
    padding-bottom: var(--vertical-space);
    margin: 0px;
}

.card-list {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.card-list:not(.card-list-even) .card:first-child {
    flex-basis: 100%;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 calc(50% - 10px);
    min-width: 350px;
}

.card-header, .post-header {
    width: calc(100% - var(--horizontal-space));
}

.card .cover-title h1 {
    font-size: calc(max(20px, min(28px, 5vw)));
}

.card-footer {
    background-color: var(--background-color-content);
    border-bottom-left-radius: var(--border-radius-large);
    border-bottom-right-radius: var(--border-radius-large);
    margin-left: var(--horizontal-space);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.card-description {
    color: var(--text-color) !important;
    padding:
        var(--vertical-space)
        var(--horizontal-space)
        calc(var(--vertical-space) / 2)
        var(--horizontal-space);
    flex-grow: 1;
    line-height: 1.5em;
    overflow: hidden;
}

.card-tags {
    padding:
    calc(var(--vertical-space) / 2)
    var(--horizontal-space)
    var(--vertical-space)
    var(--horizontal-space);
}

blockquote {
    background: var(--background-color-secondary);
    border-left: 4px solid var(--text-color-secondary);
    border-radius: var(--border-radius);
    color: var(--text-color-secondary);
    padding: 6px 18px;
}

.highlight {
    background: none !important;
}

code, pre, pre.highlight {
    background: var(--background-color-secondary) !important;
    border-radius: var(--border-radius);
    border: none;
}

.home-title-container {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    margin-top: 30px;
}

.video-container {
    height: 0;
    margin: 5%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.footnotes {
    border-top: 1px solid var(--text-color);
    margin-top: 45px;
    padding-top: 15px;
}

.alert {
    background-color: var(--text-color) !important;
    border-radius: var(--border-radius);
    color: var(--background-color);
    margin-bottom: var(--vertical-space);
    padding: var(--vertical-space) var(--horizontal-space);
}

.warning:before {
    content: '⚠️ ';
}

.site-header, .site-footer {
    background: var(--background-color-content);
    border: none;
    min-height: auto;
}

.site-header {
    padding: 2px 0px;
}

.site-header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.home-link {
    align-items: center;
    color: var(--icon-color);
    display: flex;
    flex-flow: row nowrap;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1em;
    text-decoration: none;
}

a.home-link span {
    padding-bottom: 4px;
}

a.home-link .avatar {
    margin-left: -4px;
    margin-right: 6px;
}

img.avatar {
    border-radius: 50%;
    border: 2px solid transparent;
    height: 40px;
    padding: 2px;
    width: 40px;
}

a:hover img.avatar {
    border-style: inset;
    border: 2px solid var(--text-color) !important;
}

.header-gap {
    flex-grow: 1;
}

html[data-theme="dark"] #light-theme-icon, html[data-theme="light"] #dark-theme-icon {
    display: none;
}

.site-footer {
    padding: 0px;
}

.social-media-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    gap: calc(min(18px, max(6px, (100% - 240px) / 7)));
    height: 48px;
    justify-content: center;
}
