---
---

$background-color: hsl(0, 0%, 0%) !default;
$text-color:       hsl(240, 50%, 90%) !default;
$brand-color:      hsl(240, 40%, 50%) !default;
$grey-color:       hsl(240, 0%, 10%) !default;
$grey-color-light: hsl(240, 0%, 16%) !default;
$grey-color-dark:  hsl(240, 0%, 14%) !default;

@import "minima";

@import "table.css";
@import "code.css";
@import "chart.css";

html[data-theme="dark"] {
    --background-color: hsl(0, 0%, 0%);
    --background-color-secondary: hsl(0, 0%, 10%);
    --text-color: hsl(240, 50%, 90%);
    --text-color-secondary: hsl(240, 10%, 66%);
    --text-color-dark: hsl(240, 10%, 15%);
    --icon-color: hsl(240, 10%, 25%);
    --link-color: hsl(240, 60%, 60%);
    --grey-light: hsl(240, 0%, 6%);
    --grey-dark: hsl(240, 0%, 4%);
    --hover-brightness: 200%;
}

html[data-theme="light"] {
    --background-color: hsl(240, 50%, 90%);
    --background-color-secondary: hsl(240, 50%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --text-color-secondary: hsl(240, 10%, 33%);
    --text-color-dark: var(--text-color);
    --icon-color: hsl(240, 10%, 75%);
    --link-color: hsl(240, 60%, 40%);
    --grey-light: hsl(240, 40%, 94%);
    --grey-dark: hsl(240, 50%, 96%);
    --hover-brightness: 50%;
}

body {
    background: var(--background-color) !important;
    color: var(--text-color);
}

a, a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:not(.site-title):hover, .site-title:hover span, button:hover {
    filter: brightness(var(--hover-brightness));
}

main a[href*="//"], main a[href$=".pdf"], main a[href$=".zip"] {
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 12px;
    background-size: 12px;
}

main a[href*="//"] {
    background-image: url('/assets/link-external.svg');
}

main a[href$=".pdf"] {
    background-image: url('/assets/link-pdf.svg');
}

main a[href$=".zip"] {
    background-image: url('/assets/link-zip.svg');
}

button:hover {
    cursor: pointer;
}

.svg-icon {
    width: 24px !important;
    height: 24px !important;
    fill: var(--icon-color);
}

button, nav {
    background: none !important;
    border: none !important;
    padding: 0px;
    margin: 0px;
}

button .svg-icon {
    padding: 0px;
}

.post-header {
    position: relative;
}

.post-header .post-cover {
    border-radius: 6px;
}

.post-card .post-cover {
    filter: opacity(60%);
}

.post-header .post-cover {
    filter: opacity(40%);
}

.post-title-container {
    position: absolute;
    top: 0px;
    padding: 12px 18px;
}

.post-title-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 36px);
    height: calc(100% - 24px);
}

.post-title {
    font-size: calc(min(8vw, 48px));
    margin: 0px;
}

.post-meta {
    font-size: calc(min(4vw, 24px));
    margin: 0px;
    flex-grow: 1;
    text-align: right;
}

time {
    color: var(--text-color-secondary);
    margin: 0px;
}

blockquote {
    color: var(--text-color-secondary);
    background: var(--background-color-secondary);
    padding: 6px 18px;
    border-radius: 6px;
    border-left: 4px solid var(--text-color-secondary);
}

.highlight {
    background: none !important;
}

code, pre, pre.highlight, .post-card {
    background: var(--background-color-secondary) !important;
    border: none;
    border-radius: 6px;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-card {
    color: currentColor !important;
    flex-direction: row;
    height: auto;
    flex-grow: 1;
    flex-basis: 40%;
    min-width: 200px;
}

.post-card:hover {
    text-decoration: none !important;
}

.post-card:hover h2 {
    text-decoration: underline;
}

.post-card .post-cover {
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    height: auto;
}

.post-summary {
    padding: 12px 18px;
}

.post-summary h2 {
    margin-top: 0px;
    margin-bottom: 6px;
}

.post-summary p {
    overflow: hidden;
    text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 5%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footnotes {
    border-top: 1px solid var(--text-color);
    margin-top: 45px;
    padding-top: 15px;
}

.alert {
    color: var(--background-color);
    background-color: var(--text-color) !important;
    border-radius: 6px;
    padding: 6px 12px;
    margin-bottom: 20px;
}

.warning:before {
    content: '⚠️ ';
}

.site-header, .site-footer {
    background: var(--background-color-secondary);
    border: none;
    min-height: auto;
}

.site-header {
    padding: 2px 0px;
}

.site-header .wrapper {
    display: flex;
    flex-direction: row;
}

.site-title {
    flex-grow: 1;
    font-size: 24px;
}

.site-title .avatar {
    margin-right: 6px;
    margin-left: -4px;
}

img.avatar {
    border-radius: 50%;
    border: 2px solid transparent;
    padding: 2px;
    width: 40px;
    height: 40px;
}

a:hover img.avatar {
    border: 2px solid var(--text-color) !important;
    border-style: inset;
}

a.site-title {
    text-decoration: none !important;
    color: var(--text-color-secondary) !important;
}

a.site-title:hover {
    color: var(--text-color) !important;
}

.site-title {
    line-height: 30px;
    letter-spacing: -1px;
}

.site-nav {
    line-height: 36px;
    top: 0px;
}

html[data-theme="dark"] #light-theme-icon, html[data-theme="light"] #dark-theme-icon {
    display: none;
}

.site-footer {
    padding: 12px 0px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: calc(min(18px, max(6px, (100% - 240px) / 7)));
}
