table {
    background-color: transparent !important;
    border-collapse: separate !important;
    border-spacing: 0px 6px !important;
    border: none !important;
    color: var(--text-color) !important;
}

table, table tr {
    background-color: transparent !important;
}

table tr:nth-child(odd) td {
    background-color: var(--grey-light) !important;
}

table tr:nth-child(even) td {
    background-color: var(--grey-dark) !important;
}

table th {
    background-color: var(--background-color-secondary) !important;
}

table th, table td {
    border: none !important;
    padding: 6px 18px;
}

tr :first-child { border-top-left-radius: var(--border-radius); }
tr :last-child { border-top-right-radius: var(--border-radius); }
tr :first-child { border-bottom-left-radius: var(--border-radius); }
tr :last-child { border-bottom-right-radius: var(--border-radius); }
