/* Asana */
/* :root {
    --gray: hsl(0, 3%, 77%);
    --red: hsl(0, 50%, 68%);
    --orange: hsl(14, 50%, 68%);
    --yellow-orange: hsl(37, 50%, 68%);
    --yellow: hsl(49, 50%, 71%);
    --yellow-green: hsl(76, 50%, 57%);
    --green: hsl(153, 50%, 50%);
    --aqua: hsl(177, 50%, 76%);
    --blue: hsl(220, 50%, 55%);
    --indigo: hsl(245, 50%, 71%);
    --purple: hsl(281, 50%, 63%);
    --pink: hsl(329, 50%, 69%);
    --cool-gray: hsl(210, 1%, 43%);
} */

/* Asana*0.66 */
html[data-theme="dark"] {
    --red: hsl(0, 50%, 20%);
    --orange: hsl(14, 50%, 20%);
    --yellow-orange: hsl(37, 50%, 20%);
    --yellow: hsl(49, 50%, 20%);
    --yellow-green: hsl(76, 50%, 15%);
    --green: hsl(100, 50%, 15%);
    --aqua: hsl(177, 50%, 30%);
    --blue: hsl(220, 50%, 25%);
    --indigo: hsl(245, 50%, 20%);
    --purple: hsl(281, 50%, 20%);
    --pink: hsl(329, 50%, 20%);
    --cool-gray: hsl(240, 0%, 20%);
}

html[data-theme="light"] {
    --red: hsl(0, 85%, 60%);
    --orange: hsl(14, 85%, 60%);
    --yellow-orange: hsl(37, 85%, 60%);
    --yellow: hsl(49, 85%, 60%);
    --yellow-green: hsl(76, 85%, 45%);
    --green: hsl(100, 85%, 45%);
    --aqua: hsl(177, 85%, 90%);
    --blue: hsl(220, 85%, 75%);
    --indigo: hsl(245, 85%, 60%);
    --purple: hsl(281, 85%, 60%);
    --pink: hsl(329, 85%, 60%);
    --cool-gray: hsl(240, 0%, 60%);
}

.tag[href="/tags/cool-gray"] { background-color: var(--cool-gray); }
.tag[href="/tags/pink"] { background-color: var(--pink); }
.tag[href="/tags/purple"] { background-color: var(--purple); }
.tag[href="/tags/blue"] { background-color: var(--blue); }
.tag[href="/tags/aqua"] { background-color: var(--aqua); }
.tag[href="/tags/green"] { background-color: var(--green); }
.tag[href="/tags/yellow-green"] { background-color: var(--yellow-green); }
.tag[href="/tags/yellow"] { background-color: var(--yellow); }
.tag[href="/tags/yellow-orange"] { background-color: var(--yellow-orange); }
.tag[href="/tags/orange"] { background-color: var(--orange); }
.tag[href="/tags/red"] { background-color: var(--red); }

.tag[href="/tags/meta"] { background-color: var(--cool-gray); }
.tag[href="/tags/self"] { background-color: var(--cool-gray); }
.tag[href="/tags/study"] { background-color: var(--cool-gray); }
.tag[href="/tags/productivity"] { background-color: var(--cool-gray); }
.tag[href="/tags/accounts"] { background-color: var(--cool-gray); }
.tag[href="/tags/social"] { background-color: var(--pink); }
.tag[href="/tags/events"] { background-color: var(--pink); }
.tag[href="/tags/qna"] { background-color: var(--pink); }
.tag[href="/tags/craft"] { background-color: var(--purple); }
.tag[href="/tags/coding"] { background-color: var(--purple); }
.tag[href="/tags/math"] { background-color: var(--purple); }
.tag[href="/tags/graphics"] { background-color: var(--purple); }
.tag[href="/tags/ai"] { background-color: var(--purple); }
.tag[href="/tags/research"] { background-color: var(--purple); }
.tag[href="/tags/business"] { background-color: var(--blue); }
.tag[href="/tags/career"] { background-color: var(--blue); }
.tag[href="/tags/leadership"] { background-color: var(--blue); }
.tag[href="/tags/management"] { background-color: var(--blue); }
.tag[href="/tags/mentorship"] { background-color: var(--blue); }
.tag[href="/tags/work"] { background-color: var(--blue); }
.tag[href="/tags/marketing"] { background-color: var(--blue); }
.tag[href="/tags/travel"] { background-color: var(--aqua); }
.tag[href="/tags/money"] { background-color: var(--green); }
.tag[href="/tags/budgeting"] { background-color: var(--green); }
.tag[href="/tags/investing"] { background-color: var(--green); }
.tag[href="/tags/tax"] { background-color: var(--green); }
.tag[href="/tags/home"] { background-color: var(--yellow-green); }
.tag[href="/tags/shopping"] { background-color: var(--yellow-green); }
.tag[href="/tags/language"] { background-color: var(--yellow); }
.tag[href="/tags/writing"] { background-color: var(--yellow); }
.tag[href="/tags/blog"] { background-color: var(--yellow); }
.tag[href="/tags/design"] { background-color: var(--yellow-orange); }
.tag[href="/tags/arts"] { background-color: var(--yellow-orange); }
.tag[href="/tags/music"] { background-color: var(--yellow-orange); }
.tag[href="/tags/culture"] { background-color: var(--orange); }
.tag[href="/tags/history"] { background-color: var(--orange); }
.tag[href="/tags/literature"] { background-color: var(--orange); }
.tag[href="/tags/philosophy"] { background-color: var(--orange); }
.tag[href="/tags/health"] { background-color: var(--red); }
.tag[href="/tags/mind"] { background-color: var(--red); }
.tag[href="/tags/body"] { background-color: var(--red); }
.tag[href="/tags/food"] { background-color: var(--red); }

.tag, .frontmatter .tag, .tag:visited {
    align-self: flex-start;
    /* background-color: var(--gray); */
    border-radius: 20px !important;
    color: var(--secondary-text-color);
    /* cursor: pointer !important; */
    display: inline-block !important;
    font-size: max(8px, min(14px, 3vw)) !important;
    font-weight: 600;
    line-height: 1em !important;
    padding:
        min(3px, 0.6vw)
        min(8px, 1.6vw)
        min(6px, 1.2vw)
        min(8px, 1.6vw) !important;
    text-align: center !important;
    text-decoration: none !important;
}

/* Change color of tag count pill when hovering */
/* .tag:hover, .frontmatter .tag:hover {
    background-color: var(--gray) !important;
    color: white !important;
} */
