/* Shared with Obsidian */

:root {
    --tag-group: -1;
    --tag-group-meta: 240;
    --tag-group-social: 329;
    --tag-group-craft: 281;
    --tag-group-business: 220;
    --tag-group-travel: 177;
    --tag-group-money: 100;
    --tag-group-home: 72;
    --tag-group-language: 49;
    --tag-group-design: 37;
    --tag-group-culture: 14;
    --tag-group-health: 0;
}

:root {
    --tag-light-hover: 40%;
    --tag-light: 20%;
    --tag-saturation: 40%;
    --tag-text-color: hsl(240, 0%, 90%);
}

html[data-theme="light"] {
    --tag-light-hover: 66%;
    --tag-light: 85%;
    --tag-saturation: 90%;
    --tag-text-color: hsl(240, 0%, 10%);
}

.tag[href = "/health"], .tag[href = "#health"] { --tag-group: var(--tag-group-health); }
.tag[href = "/meta"], .tag[href = "#meta"] { --tag-group: var(--tag-group-meta); }
.tag[href = "/travel"], .tag[href = "#travel"] { --tag-group: var(--tag-group-travel); }
.tag[href = "/money"], .tag[href = "#money"] { --tag-group: var(--tag-group-money); }
.tag[href = "/self"], .tag[href = "#self"] { --tag-group: var(--tag-group-meta); }
.tag[href = "/social"], .tag[href = "#social"] { --tag-group: var(--tag-group-social); }
.tag[href = "/home"], .tag[href = "#home"] { --tag-group: var(--tag-group-home); }
.tag[href = "/language"], .tag[href = "#language"] { --tag-group: var(--tag-group-language); }
.tag[href = "/demoscene"], .tag[href = "#demoscene"] { --tag-group: var(--tag-group-craft); }
.tag[href = "/writing"], .tag[href = "#writing"] { --tag-group: var(--tag-group-language); }
.tag[href = "/craft"], .tag[href = "#craft"] { --tag-group: var(--tag-group-craft); }
.tag[href = "/graphics"], .tag[href = "#graphics"] { --tag-group: var(--tag-group-craft); }
.tag[href = "/blog"], .tag[href = "#blog"] { --tag-group: var(--tag-group-language); }
.tag[href = "/design"], .tag[href = "#design"] { --tag-group: var(--tag-group-design); }
.tag[href = "/coding"], .tag[href = "#coding"] { --tag-group: var(--tag-group-craft); }
.tag[href = "/ai"], .tag[href = "#ai"] { --tag-group: var(--tag-group-craft); }
.tag[href = "/culture"], .tag[href = "#culture"] { --tag-group: var(--tag-group-culture); }
.tag[href = "/research"], .tag[href = "#research"] { --tag-group: var(--tag-group-craft); }
.tag[href = "/business"], .tag[href = "#business"] { --tag-group: var(--tag-group-business); }

.tag, .frontmatter .tag, .tag:visited {
    align-self: flex-start;
    background-color: hsl(
        var(--tag-group),
        calc(var(--tag-saturation) * (1 + min(0, var(--tag-group)))),
        var(--tag-light)) !important;
    border-radius: 18px !important;
    color: var(--tag-text-color) !important;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    height: 24px !important;
    line-height: 24px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    text-align: center !important;
    text-decoration: none !important;
}

.tag:hover, .frontmatter .tag:hover {
    background-color: hsl(
        var(--tag-group),
        calc(var(--tag-saturation) * (1 + min(0, var(--tag-group)))),
        var(--tag-light-hover)) !important;
}
