---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout
  tab="404"
  title="Not found"
  description="Requested page not found."
  seo={false}
  class="flex flex-col"
>
  <div class="flex flex-1 flex-col items-center justify-center gap-8">
    <h1 class="text-5xl">404</h1>
    <Icon name="404" size={200} />
    <p class="text-center">
      I could not find the page you are looking for, but I hope you will find
      it.
    </p>
  </div>
</BaseLayout>
