---
import { getCollection, getEntry } from "astro:content";
import Article from "@components/Article.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const cover = await getEntry(entry.data.cover);
---

<BaseLayout title={entry.data.title}>
  <div class="flex flex-col items-center">
    <Image
      src={cover.data.cover}
      alt={entry.data.title}
      width={736}
      densities={[1, 2, 3, 4]}
      class="aspect-2 mb-12 shadow shadow-stone-900 sm:rounded-2xl"
    />
    <Article post={entry}><Content /></Article>
  </div>
</BaseLayout>
