---
---

$background-color: hsl(0, 0%, 0%) !default;
$text-color:       hsl(240, 50%, 75%) !default;
$brand-color:      hsl(240, 50%, 50%) !default;
$grey-color:       hsl(240, 0%, 10%) !default;
$grey-color-light: hsl(240, 0%, 16%) !default;
$grey-color-dark:  hsl(240, 0%, 14%) !default;

@import "minima";

@import "/assets/table.css";
@import "/assets/code.css";

html[data-theme="dark"] {
    --background-color: hsl(0, 0%, 0%);
    --background-color-secondary: hsl(0, 0%, 10%);
    --text-color: hsl(240, 50%, 75%);
    --text-color-secondary: hsl(240, 0%, 50%);
    --link-color: hsl(240, 59%, 90%);
    --grey-light: hsl(240, 0%, 6%);
    --grey-dark: hsl(240, 0%, 4%);
}

html[data-theme="light"] {
    --background-color: hsl(240, 50%, 90%);
    --background-color-secondary: hsl(240, 50%, 100%);
    --text-color: hsl(240, 50%, 0%);
    --text-color-secondary: hsl(240, 50%, 25%);
    --link-color: hsl(240, 50%, 50%);
    --grey-light: hsl(240, 50%, 94%);
    --grey-dark: hsl(240, 50%, 96%);
}

body, .highlight {
    background: var(--background-color);
    color: var(--text-color);
}

a, a:visited {
    text-decoration: underline;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    color: var(--link-color);
    filter: brightness(80%);
}

time {
    color: var(--text-color-secondary);
}

blockquote {
    color: var(--link-color);
    background: var(--background-color-secondary);
    padding: 6px 18px;
    border-radius: 6px;
}

code, pre {
    background: var(--background-color-secondary);
    border: none;
    border-radius: 6px;
}

pre {
    padding: 6px 18px;
}

.site-header, .site-footer {
    background: var(--background-color-secondary);
    padding-bottom: 6px;
    padding-top: 6px;
    border: none;
    min-height: auto;
}

.site-title, .site-nav {
    line-height: 32px;
    // letter-spacing: 0px;
}

a.site-title {
    text-decoration: none !important;
    color: var(--link-color) !important;
}

img.avatar {
    border-radius: 50%;
}

.site-title .avatar {
    margin-right: 12px;
}
