---
const { title, date } = Astro.props;
---

<article
  class="prose prose-lg prose-stone dark:prose-invert prose-headings:px-4 prose-a:decoration-stone-500/50 hover:prose-a:decoration-black prose-img:rounded-2xl hover:dark:prose-a:decoration-white"
>
  <header class="flex flex-col">
    <h1>{title}</h1>
    {
      date && (
        <time
          datetime={date}
          class="text-md self-end whitespace-nowrap font-bold italic"
        >
          {date.toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </time>
      )
    }
    <slot />
  </header>

  <style>
    article > :global(p),
    article > :global(ul),
    article > :global(ol),
    article > :global(table),
    article > :global(blockquote) {
      @apply px-4 py-2 hover:bg-stone-500/10 sm:rounded-2xl;
    }
    article > :global(ul),
    article > :global(ol) {
      @apply pl-12;
    }
    article > :global(pre) {
      @apply !bg-stone-900 px-4 py-2 shadow shadow-black sm:rounded-2xl;
    }
  </style>
</article>
