---
const { post } = Astro.props;
const date = post.data.date.toLocaleDateString("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<article
  class="prose md:prose-lg lg:prose-xl w-full dark:prose-invert
               prose-h1:font-bold prose-h1:text-5xl
               prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
>
  <header class="flex flex-col">
    <h1>{post.data.title}</h1>
    <time
      datetime={post.data.date}
      class="self-end font-bold italic whitespace-nowrap text-md">{date}</time
    >
  </header>
  <slot />
</article>

<style>
  article > :global(p),
  article > :global(ul),
  article > :global(ol),
  article > :global(table),
  article > :global(blockquote) {
    @apply rounded-lg -mx-4 px-4 hover:bg-stone-300/10 dark:hover:bg-stone-700/10;
  }
  article > :global(ul),
  article > :global(ol) {
    @apply pl-12;
  }
</style>
