---
const { title, date, className } = Astro.props;
---

<article
  class:list={[
    "prose prose-stone w-full max-w-none px-2 dark:prose-invert md:prose-lg",
    className,
  ]}
>
  <header class="flex flex-col">
    <h1>{title}</h1>
    {
      date && (
        <time
          datetime={date}
          class="text-md self-end whitespace-nowrap font-bold italic"
        >
          {date.toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </time>
      )
    }
  </header>
  <slot />
  <style>
    article > :global(p),
    article > :global(ul),
    article > :global(ol),
    article > :global(pre),
    article > :global(lite-youtube),
    article :global(blockquote) {
      @apply -mx-2 px-2 outline-none outline-offset-0 transition-all max-sm:rounded-none sm:rounded-xl sm:hover:bg-stone-500/20 sm:hover:outline-8 sm:hover:outline-stone-500/20;
    }
    article > :global(ul),
    article > :global(ol) {
      @apply pl-12;
    }
    article > :global(p:has(> img)) {
      @apply px-0;
    }
    article :global(img) {
      @apply m-0;
    }
    article > :global(p) > :global(img) {
      @apply rounded-xl;
    }
    article > :global(table) {
      @apply overflow-clip sm:rounded-xl;
    }
    article > :global(table > thead > tr > th),
    article > :global(table > tbody > tr > td),
    article > :global(table > tbody > tr > th) {
      @apply p-4 align-top;
    }
    article > :global(table > thead > tr),
    article > :global(table > tbody > tr) {
      @apply border-transparent sm:rounded-xl sm:hover:bg-stone-500/20;
    }
    article > :global(pre) {
      @apply !bg-stone-900 px-4 py-2 shadow shadow-black;
    }
    article > :global(lite-youtube) {
      @apply aspect-video;
    }
    article > :global(lite-youtube::before) {
      @apply bg-none;
    }
    article > :global(lite-youtube.lyt-activated) {
      @apply !bg-none;
    }
    article :global(a) {
      @apply underline decoration-stone-500/50 hover:decoration-black;
    }
    :global(.dark) article :global(a) {
      @apply hover:decoration-white;
    }
    article :global(a::after) {
      @apply -mr-3 inline-block h-3 w-3 whitespace-pre bg-black align-text-top opacity-50 hover:opacity-100;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }
    :global(.dark) article :global(a::after) {
      @apply bg-white;
    }
    article :global(a[rel="nofollow"]),
    article :global(a[href$=".pdf"]),
    article :global(a[href$=".zip"]) {
      @apply inline-block pr-3;
    }
    article :global(a[rel="nofollow"]::after) {
      content: "";
      -webkit-mask-image: url("/icons/link-external.svg");
      mask-image: url("/icons/link-external.svg");
    }
    article :global(a[href^="https://en.wikipedia.org/"]::after)
    {
      content: "";
      -webkit-mask-image: url("/icons/link-wikipedia.svg");
      mask-image: url("/icons/link-wikipedia.svg");
    }
    article :global(a[href$=".pdf"]::after) {
      content: "";
      -webkit-mask-image: url("/icons/link-document.svg");
      mask-image: url("/icons/link-document.svg");
    }
    article :global(a[href$=".zip"]::after) {
      content: "";
      -webkit-mask-image: url("/icons/link-download.svg");
      mask-image: url("/icons/link-download.svg");
    }
    article :global(a[href^="https://www.linkedin.com/"]::after)
    {
      content: "";
      -webkit-mask-image: url("/icons/social-linkedin.svg");
      mask-image: url("/icons/social-linkedin.svg");
    }
    article :global(a[href^="https://twitter.com/"]::after)
    {
      content: "";
      -webkit-mask-image: url("/icons/social-twitter.svg");
      mask-image: url("/icons/social-twitter.svg");
    }
  </style>
</article>
