---
const { post } = Astro.props;
const date = post.data.date.toLocaleDateString("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<article
  class="prose prose-lg prose-stone dark:prose-invert prose-a:decoration-stone-500/50 hover:prose-a:decoration-black prose-img:rounded-xl hover:dark:prose-a:decoration-white"
>
  <header class="flex flex-col">
    <h1>{post.data.title}</h1>
    <time
      datetime={post.data.date}
      class="text-md self-end whitespace-nowrap font-bold italic">{date}</time
    >
  </header>
  <slot />
</article>

<style>
  article > :global(p),
  article > :global(ul),
  article > :global(ol),
  article > :global(table),
  article > :global(blockquote) {
    @apply rounded-lg  hover:bg-stone-500/10;
  }
</style>
