---
const { title, date, className } = Astro.props;
---

<article
  class:list={[
    "prose prose-stone w-full max-w-none px-2 dark:prose-invert md:prose-lg prose-a:decoration-stone-500/50 hover:prose-a:decoration-black hover:dark:prose-a:decoration-white sm:prose-img:rounded-2xl",
    className,
  ]}
>
  <header class="flex flex-col">
    <h1>{title}</h1>
    {
      date && (
        <time
          datetime={date}
          class="text-md self-end whitespace-nowrap font-bold italic"
        >
          {date.toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </time>
      )
    }
  </header>
  <slot />
  <style>
    article > :global(p),
    article > :global(ul),
    article > :global(ol),
    article > :global(blockquote),
    article > :global(lite-youtube) {
      @apply -mx-2 px-2 outline-none outline-offset-0 transition-all hover:bg-stone-500/20 hover:outline-8 hover:outline-stone-500/20 sm:rounded-xl;
    }
    article > :global(ul),
    article > :global(ol) {
      @apply pl-12;
    }
    article > :global(pre) {
      @apply !bg-stone-900 px-4 py-2 shadow shadow-black sm:rounded-xl;
    }
    article > :global(lite-youtube) {
      @apply aspect-video;
    }
    article > :global(lite-youtube::before) {
      @apply bg-none;
    }
    article > :global(lite-youtube.lyt-activated) {
      @apply !bg-none;
    }
    :global(article) :global(a::after) {
      @apply bg-black;
      @apply inline-block h-3 w-3 align-text-top;
    }
    :global(.dark) article :global(a::after) {
      @apply bg-white;
    }
    article :global(a[rel="nofollow"]::after) {
      content: "";
      -webkit-mask-image: url("/icons/link-external.svg");
      mask-image: url("/icons/link-external.svg");
    }
    article :global(a[href^="https://en.wikipedia.org/"]::after)
    {
      content: "";
      -webkit-mask-image: url("/icons/link-wikipedia.svg");
      mask-image: url("/icons/link-wikipedia.svg");
    }
    article :global(a[href$=".pdf"]::after) {
      content: "";
      -webkit-mask-image: url("/icons/link-document.svg");
      mask-image: url("/icons/link-document.svg");
    }
    article :global(a[href$=".zip"]::after) {
      content: "";
      -webkit-mask-image: url("/icons/link-download.svg");
      mask-image: url("/icons/link-download.svg");
    }
    article :global(a[href^="https://www.linkedin.com/"]::after)
    {
      content: "";
      -webkit-mask-image: url("/icons/social-linkedin.svg");
      mask-image: url("/icons/social-linkedin.svg");
    }
    article :global(a[href^="https://twitter.com/"]::after)
    {
      content: "";
      -webkit-mask-image: url("/icons/social-twitter.svg");
      mask-image: url("/icons/social-twitter.svg");
    }
  </style>
</article>
