---
const { title, date, className } = Astro.props;
---

<article
  class:list={[
    "prose prose-lg prose-stone w-full pb-2 dark:prose-invert prose-a:decoration-stone-500/50 hover:prose-a:decoration-black sm:prose-img:rounded-2xl hover:dark:prose-a:decoration-white",
    className,
  ]}
>
  <header class="flex flex-col">
    <h1>{title}</h1>
    {
      date && (
        <time
          datetime={date}
          class="text-md self-end whitespace-nowrap font-bold italic"
        >
          {date.toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </time>
      )
    }
  </header>
  <slot />
  <style>
    article > :global(p),
    article > :global(ul),
    article > :global(ol),
    article > :global(blockquote),
    article > :global(lite-youtube) {
      @apply -mx-2 px-2 outline-none outline-offset-0 transition-all hover:bg-stone-500/20 hover:outline-8 hover:outline-stone-500/20 sm:rounded-2xl;
    }
    article > :global(ul),
    article > :global(ol) {
      @apply pl-12;
    }
    article > :global(pre) {
      @apply !bg-stone-900 px-4 py-2 shadow shadow-black sm:rounded-2xl;
    }
    article > :global(lite-youtube) {
      @apply aspect-video;
    }
    article > :global(lite-youtube::before) {
      @apply bg-none;
    }
    article > :global(lite-youtube.lyt-activated) {
      @apply !bg-none;
    }
  </style>
</article>
