---
import Social from "@/components/Social.astro";
import { AUTHOR } from "@/consts";
---

<div class="flex w-full flex-row justify-center py-8 sm:gap-4 sm:py-8 lg:py-16">
  {
    AUTHOR.social.map((item) => (
      <Social
        name={item.name}
        href={item.url}
        alt={`Link to my ${item.name} profile.`}
        icon={item.icon}
      />
    ))
  }
</div>
