---
import Social from "@/components/Social.astro";
import { AUTHOR } from "@/consts";
---

<nav
  aria-label="Social profiles"
  class="flex w-full flex-row justify-center"
  transition:persist
>
  {
    AUTHOR.social.map((item) => (
      <Social name={item.name} href={item.url} icon={item.icon} />
    ))
  }
</nav>
