---
import { Image } from "astro:assets";
import avatar from "../images/me.jpg";
import ThemeToggle from "@components/ThemeToggle";
---

<script is:inline>
  function getDark() {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      try {
        const theme = JSON.parse(localStorage.getItem("theme") ?? "");
        console.log(theme);
        const { dark } = theme;
        return dark;
      } catch (e) {}
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return true;
    }
    return false;
  }

  function setTheme(document) {
    console.log(getDark());
    if (getDark()) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }

  setTheme(document);
  document.addEventListener("astro:before-swap", (event) => {
    setTheme(event.newDocument);
  });
</script>

<div class="flex flex-row items-center justify-between" transition:persist>
  <a
    href="/"
    class="group flex flex-row items-center gap-2 rounded-xl px-2 py-1 ring-inset ring-stone-500/50 transition hover:bg-stone-500/10 hover:ring-1"
  >
    <Image
      src={avatar}
      alt="me"
      width="40"
      height="40"
      densities={[1, 2, 3, 4]}
      class="rounded-full"
    />
    <span class="text-3xl font-thin">Hello, I’m Tugrul!</span>
  </a>
  <a href="/photography">Photography</a>
  <ThemeToggle client:load />
</div>
