---
import { Image } from "astro:assets";
import avatar from "../images/me.png";
import ThemeToggle from "@components/ThemeToggle";
import Icon from "./Icon.astro";
import Tab from "./Tab.astro";

const { tab } = Astro.props;
---

<script is:inline>
  function getDark() {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      try {
        const theme = JSON.parse(localStorage.getItem("theme") ?? "");
        const { dark } = theme;
        return dark;
      } catch (e) {}
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return true;
    }
    return false;
  }

  function setTheme(document) {
    if (getDark()) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }

  setTheme(document);
  document.addEventListener("astro:before-swap", (event) => {
    setTheme(event.newDocument);
  });
</script>

<div class="flex flex-col gap-4 sm:pt-8 lg:pt-16">
  <navigation class="items-begin flex flex-row gap-1">
    <Tab text="Posts" href="/" selected={tab == "blog"} className="grow">
      <Icon src="/icons/tab-blog.svg" alt="My essays" size={24} />
    </Tab>
    <Tab
      text="Photography"
      href="/photography"
      selected={tab == "photos"}
      className="grow"
    >
      <Icon src="/icons/tab-photos.svg" alt="My photography" size={24} />
    </Tab>
    <Tab
      text="About"
      href="/about"
      alt="About me"
      selected={tab == "about"}
      className="grow"
    >
      <div class="row flex h-6 w-6 items-center justify-center">
        <Image
          src={avatar}
          alt="me"
          width="22"
          height="22"
          densities={[1, 2, 3, 4]}
          class="rounded-full border border-black dark:border-white"
        />
      </div>
    </Tab>
    <ThemeToggle client:load transition:persist />
  </navigation>
</div>
