---
import { Image } from "astro:assets";
import avatar from "../images/me.jpg";
import ThemeToggle from "@components/ThemeControl";
---

<div class="flex flex-row items-center justify-between">
  <a
    href="/"
    class="group flex flex-row items-center gap-2 rounded-xl px-2 py-1 ring-inset ring-stone-500/50 transition hover:bg-stone-500/10 hover:ring-1"
  >
    <Image
      src={avatar}
      alt="me"
      width="40"
      height="40"
      densities={[1, 2, 3, 4]}
      class="rounded-full"
    />
    <span class="text-3xl font-thin">Hello, I’m Tugrul!</span>
  </a>
  <ThemeToggle client:load />
</div>
