---
import { Image } from "astro:assets";
import avatar from "../images/me.png";
import Icon from "@components/Icon.astro";
import ThemeToggle from "@components/ThemeControl";
---

<div class="flex flex-row items-center justify-between">
  <a
    href="/"
    class="group flex flex-row items-center gap-2 rounded-md px-2 py-1"
  >
    <Image
      src={avatar}
      alt="me"
      width="40"
      height="40"
      densities={[1, 2, 3, 4]}
      class="ring-offset-red rounded-full object-scale-down ring-2 ring-transparent ring-offset-2 ring-offset-stone-200 transition duration-200 ease-in-out group-hover:ring-current dark:ring-offset-stone-800"
    />
    <span
      class="text-3xl font-thin underline decoration-transparent decoration-2 underline-offset-2 transition group-hover:decoration-current"
      >Hello, I’m Tugrul!</span
    >
  </a>
  <ThemeToggle client:load />
</div>
