---
import { Image } from "astro:assets";
import avatar from "../images/me.jpg";
import ThemeToggle from "@components/ThemeToggle";
import Icon from "./Icon.astro";
import Tab from "./Tab.astro";

const { tab } = Astro.props;
---

<script is:inline>
  function getDark() {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      try {
        const theme = JSON.parse(localStorage.getItem("theme") ?? "");
        console.log(theme);
        const { dark } = theme;
        return dark;
      } catch (e) {}
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return true;
    }
    return false;
  }

  function setTheme(document) {
    console.log(getDark());
    if (getDark()) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }

  setTheme(document);
  document.addEventListener("astro:before-swap", (event) => {
    setTheme(event.newDocument);
  });
</script>

<div class="flex flex-col gap-4 pt-4">
  <div class="relative">
    <navigation class="items-begin flex flex-row gap-1">
      <Tab
        href="/about"
        alt="About me"
        icon="/icons/link-about.svg"
        selected={tab == "about"}
      >
        <Image
          src={avatar}
          alt="me"
          width="40"
          height="40"
          densities={[1, 2, 3, 4]}
          class="rounded-full border border-black dark:border-white"
        />
      </Tab>
      <Tab href="/" selected={tab == "blog"} className="grow">
        <Icon src="/icons/link-blog.svg" alt="My essays" className="scale-75" />
        Blog
      </Tab>
      <Tab href="/photography" selected={tab == "photos"} className="grow">
        <Icon
          src="/icons/link-photos.svg"
          alt="My photography"
          className="scale-75"
        />
        Photography
      </Tab>
      <ThemeToggle client:load />
    </navigation>

    <div
      class="z-1 absolute bottom-0 left-0 h-4 w-full rounded-t-3xl bg-stone-200 dark:bg-stone-800"
    >
    </div>
  </div>
</div>
