---
import { Image } from "astro:assets";
import avatar from "../images/me.png";
import ThemeToggle from "@components/ThemeToggle";
import Icon from "./Icon.astro";
import Tab from "./Tab.astro";

const { tab } = Astro.props;
---

<script is:inline>
  function getDark() {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      try {
        const theme = JSON.parse(localStorage.getItem("theme") ?? "");
        const { dark } = theme;
        return dark;
      } catch (e) {}
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return true;
    }
    return false;
  }

  function setTheme(document) {
    if (getDark()) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }

  setTheme(document);
  document.addEventListener("astro:before-swap", (event) => {
    setTheme(event.newDocument);
  });
</script>

<div class="flex flex-col gap-4 sm:pt-8 lg:pt-16">
  <navigation class="items-begin flex flex-row gap-1">
    <Tab href="/" selected={tab == "blog"} className="grow">
      <Icon src="/icons/link-blog.svg" alt="My essays" className="scale-75" />
      <span class="hidden sm:inline">Blog</span>
    </Tab>
    <Tab href="/photography" selected={tab == "photos"} className="grow">
      <Icon
        src="/icons/link-photos.svg"
        alt="My photography"
        className="scale-75"
      />
      <span class="hidden sm:inline">Photography</span>
    </Tab>
    <Tab
      href="/about"
      alt="About me"
      icon="/icons/link-about.svg"
      selected={tab == "about"}
      className="grow"
    >
      <Image
        src={avatar}
        alt="me"
        width="24"
        height="24"
        densities={[1, 2, 3, 4]}
        class="rounded-full border border-black dark:border-white"
      />
      <span class="hidden sm:inline">About</span>
    </Tab>
    <ThemeToggle client:load transition:persist />
  </navigation>
</div>
