---
const { icons } = Astro.props;
---

<hr class="!mb-4" />
<p class="flex flex-row items-start gap-2" role="note">
  <span class="!my-0 whitespace-nowrap text-4xl tracking-widest">{icons}</span>
  <span class="!my-0 text-xs">
    <slot />
  </span>
</p>
