---
const { icons } = Astro.props;
---

<hr class="!mb-4" />
<div role="note" class="flex flex-row items-center gap-4">
  <p class="!my-0 whitespace-nowrap text-4xl">{icons}</p>
  <p class="text-xs">
    <slot />
  </p>
</div>
