---
import Icon from "@components/Icon.astro";

interface Props {
  href: string;
  alt: string;
  icon: string;
}
const { href, alt, icon }: Props = Astro.props;
const external = href.startsWith("http");
---

<a
  aria-label={alt}
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  class="group rounded-xl p-2 ring-inset ring-stone-500/50 transition hover:bg-stone-500/10 hover:ring-1"
>
  <Icon src={icon} alt={alt} class="group-hover:scale-100" />
</a>
