---
import Icon from "@components/Icon.astro";

interface Props {
  href: string;
  alt: string;
  icon: string;
}
const { href, alt, icon }: Props = Astro.props;
const external = href.startsWith("http");
---

<a
  aria-label={alt}
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  class="ease-in-ou transform rounded-md p-2 transition duration-200 hover:scale-150"
>
  <Icon src={icon} alt={alt} class="shadow-black drop-shadow-lg" />
</a>
