---
import { Image } from "astro:assets";

const { link, image, description, className } = Astro.props;
---

<a
  href={link}
  class:list={[
    "align-center aspect-1 group z-50 grow transition hover:bg-stone-500/10 hover:opacity-100 sm:rounded-xl",
    className,
  ]}
>
  <div
    class="hidden overflow-hidden rounded-2xl shadow shadow-stone-900 transition-all group-hover:scale-110 sm:flex"
  >
    <Image
      src={image}
      alt={description}
      width={240}
      densities={[1, 2, 3, 4]}
      class="transform-all w-full object-cover object-center"
    />
  </div>
</a>
