---
import { Image } from "astro:assets";

const { link, image, description, className } = Astro.props;
---

<a
  href={link}
  class:list={[
    "align-center group flex min-w-32 flex-col gap-2 ring-inset ring-stone-500/50 transition hover:bg-stone-500/10 hover:opacity-100 hover:ring-1 sm:rounded-xl",
    className,
  ]}
>
  <div
    class="hidden grow-0 overflow-hidden rounded-2xl shadow shadow-stone-900 transition-all group-hover:scale-[1.15] sm:flex"
  >
    <Image
      src={image}
      alt={description}
      width={128}
      densities={[1, 2, 3, 4]}
      class="transform-all w-full object-cover"
    />
  </div>
</a>
