---
interface Props {
  href: string;
  text: string;
  selected: boolean;
}
const { text, href, selected } = Astro.props;
---

<a
  role="tab"
  href={href}
  class="group z-10 h-full grow bg-stone-300 shadow-lg shadow-stone-900/20 ring-inset ring-stone-500/50 hover:ring-1 dark:bg-stone-700 sm:rounded-t-3xl"
  transition:persist
  transition:name={`tab-${href}-${selected ? "selected" : "unselected"}}`}
  transition:animate="none"
>
  <div
    class:list={[
      "h-full px-4 pt-2 group-hover:opacity-100 max-sm:pb-2 sm:-mb-10 sm:rounded-t-3xl sm:pb-16",
      selected
        ? "bg-stone-200 opacity-100 dark:bg-stone-800"
        : "bg-stone-200/50 dark:bg-stone-800/50 sm:opacity-50",
    ]}
  >
    <div
      class="sm:justify-begin flex h-8 w-fit flex-row items-center gap-1 text-sm font-thin max-sm:mx-auto"
    >
      <slot />
      <span class="hidden pt-0.5 sm:inline">{text}</span>
    </div>
  </div>
</a>
