---
interface Props {
  tab: string;
  href: string;
  text: string;
}
const { tab, text, href } = Astro.props;
---

<a
  aria-label={text}
  href={href}
  id=`tab-${tab}`
  class:list={[
    "tab group relative z-10 -mb-4 flex h-fit grow flex-col overflow-hidden pb-4 sm:rounded-t-3xl",
    "shadow-lg shadow-stone-900/20 ring-inset ring-stone-500/50 hover:ring-1",
    "bg-stone-300 hover:bg-stone-200/50 dark:bg-stone-700 dark:hover:bg-stone-800/50",
  ]}
>
  <div
    class="sm:justify-begin text-md flex h-12 w-fit flex-row items-center gap-2 px-4 font-thin max-sm:mx-auto"
  >
    <slot />
    <span class="hidden sm:inline">{text}</span>
  </div>
</a>

<style>
  :global([data-tab="posts"]) #tab-posts,
  :global([data-tab="photos"]) #tab-photos,
  :global([data-tab="about"]) #tab-about {
    @apply bg-stone-200;
  }
  :global(.dark) :global([data-tab="posts"]) #tab-posts,
  :global(.dark) :global([data-tab="photos"]) #tab-photos,
  :global(.dark) :global([data-tab="about"]) #tab-about {
    @apply bg-stone-800;
  }
</style>
