{%- import "macros.html" as macros -%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
  <meta name="description" content="{{ config.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="dark light" />
  <script src="{{ '/js/theme.js' | safe }}"></script>
  <link rel="stylesheet" href="/css/style.css" />
  {% include "favicon.html" %}
  <script defer src="{{ '/js/third_party/jquery-3.6.0.min.js' | safe }}"></script>
  {%- block script -%}{%- endblock %}
</head>

<body>
  <a class="link-main" href="#main">skip to main</a>
  <header>
    {% include "header.html" %}
  </header>
  <main id="#main" class="{% block class %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  <footer>
    {% include "footer.html" %}
  </footer>
</body>

</html>
