{%- macro titlefrompath(path) -%}
{{ path | split(pat="/") | last | split(pat=".") | first | replace(from="-", to=" ") }}
{%- endmacro titlefrompath -%}

{%- macro resizedimage(path, width, height) -%}
{%- set image = resize_image(path=path, format="webp", width=width, height=height, op="fit", quality=85) -%}
{{ image.static_path | trim_start_matches(pat="static") | safe }}
{%- endmacro resizedimage -%}

{%- macro image(path, width, class="") -%}
{%- set meta = get_image_metadata(path=path) -%}
{%- set height = meta.height * width / meta.width | round | int -%}
{%- set source = path | replace(from=".jpg", to=".webp") -%}
<picture>
  <source srcset="
  {{ macros::resizedimage(path=source, width=width*1, height=height*1) }} 1x,
  {{ macros::resizedimage(path=source, width=width*2, height=height*2) }} 2x,
  {{ macros::resizedimage(path=source, width=width*3, height=height*3) }} 3x,
  {{ macros::resizedimage(path=source, width=width*4, height=height*4) }} 4x" type="image/webp">
  <img src="{{ path | safe }}"  {% if class -%} class="{{ class }}"{%- endif -%} alt="{{ macros::titlefrompath(path=path) }}" width="{{ width }}" height="{{ height }}" >
</picture>
{%- endmacro image -%}

{%- macro time(page, update=false, dateformat="%B %d, %Y") -%}
<div>
  {%- if page.updated -%}
  <time datetime="{{ page.updated | date(format='%Y-%m-%d')  }}">
    {{- page.updated | date(format=dateformat) -}}
  </time>
  {%- endif -%}
  {%- if update or not page.updated -%}
  <time datetime="{{ page.date | date(format='%Y-%m-%d')  }}">
    {%- if page.updated -%}- originally published {%- endif -%}
    {{- page.date | date(format=dateformat) -}}
  </time>
  {%- endif -%}
</div>
{%- endmacro time -%}

{%- macro tag(tag) -%}
<a class="tag" href="/tags/{{ tag | safe }}">{{ tag }}</a>
{%- endmacro tag -%}

{%- macro tags(tags) -%}
{%- if config.taxonomies -%}
<ul class="tags" aria-label="tags">
  {% for tag in tags %}
  <li>{{ macros::tag(tag=tag) }}</li>
  {% endfor %}
</ul>
{%- endif -%}
{%- endmacro tags -%}

{%- macro cover(page) -%}
<div class="cover">
  {{- macros::image(path=page.extra.cover, width=780) -}}
  {#{ macros::tags(tags=page.taxonomies.tags) }#}
</div>
{%- endmacro cover -%}

{%- macro card(page) -%}
<div role="listitem" class="card" aria-label="{{ page.title }}">
  <a class="card-link" href="{{ page.path | safe }}">
    <div class="drawer">
      <div class="title">
        <p>{{ page.title }}</p>
        {%- if page.year | as_str == now() | date(format="%Y") -%}
        {{- macros::time(page=page, dateformat="%b %d") -}}
        {%- else -%}
        {{- macros::time(page=page, dateformat="%b %d, %Y") -}}
        {%- endif -%}
      </div>
      <div class="summary">
        <p>
          {%- if page.summary -%}
          {{ page.summary | safe | striptags }}
          {%- endif -%}
        </p>
      </div>
    </div>
  </a>
  {{- macros::image(path=page.extra.cover, width=374) -}}
  {#{- macros::tags(tags=page.taxonomies.tags) -}#}
</div>
{%- endmacro card -%}

{%- macro cards(pages) -%}
<nav aria-label="articles">
  <div role="list" class="cards">
    {%- for page in pages -%}
    {{- macros::card(page=page) -}}
    {%- endfor -%}
  </div>
</nav>
{%- endmacro cards -%}

{%- macro home(title, name, pages) -%}
<header>
  <h1>
    {{ title }}
  </h1>
  <a class="feed-link" href="{{ config.feed_filename }}" aria-label="atom feed for {{ name }}"><svg class="icon"
      focusable="false">
      <title>atom feed for {{ name }}</title>
      <use xlink:href=/icons/icons.svg#feed></use>
    </svg></a>
</header>
{{- macros::cards(pages=pages) -}}
{%- endmacro home -%}

{%- macro meta(title, description="", image="") -%}
<title>{{ title }}</title>
<meta name="author" content="{{ config.extra.author.name }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ config.title }}">
<meta name="twitter:creator" content="@{{ config.extra.author.twitter }}">
<meta name="twitter:site" content="@{{ config.extra.author.twitter }}">
{%- if current_url -%}
<link rel="canonical" href="{{ current_url | safe }}">
<meta property="og:url" content="{{ current_url | safe }}">
{%- endif -%}
{%- if description -%}
<meta name="description" content="{{ description | safe | striptags }}">
<meta property="og:description" content="{{ description | safe | striptags }}">
{%- endif -%}
{%- if image -%}
{%- set image_url = config.base_url ~ image -%}
{%- set image_meta = get_image_metadata(path=image) -%}
<meta property="og:image" content="{{ image_url | safe }}">
<meta property="og:image:width" content="{{ image_meta.width }}">
<meta property="og:image:height" content="{{ image_meta.height }}">
<meta property="og:image:alt" content="{{ macros::titlefrompath(path=image) }}">
{%- endif -%}
{%- endmacro meta -%}
