{%- extends "base.html" -%}

{%- block title -%}{{ page.title }}{%- endblock title -%}
{%- block script -%}
{%- for script in page.extra.scripts -%}
<script defer src="/js/{{script | safe}}.js"></script>
{%- endfor -%}
{%- endblock script -%}

{%- block content -%}
{{- macros::cover(page=page) -}}
<article>
  <h1>
    {{ page.title }}
    {{- macros::time(page=page, update=true) -}}
  </h1>
  {%- if page.draft != false -%}
  <alert>
    This is a <strong>draft</strong> post.
    Let me know if you have any feedback.
  </alert>
  {%- endif -%}
  {{ page.content | safe }}
</article>
{%- endblock content -%}
