{%- extends "base.html" -%}

{%- block meta -%}
{{ macros::meta(title=page.title, description=page.summary, image=page.extra.cover, draft=page.draft) }}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.date | date(format='%Y-%m-%d') }}">
{%- if page.updated -%}
<meta property="article:modified_time" content="{{ page.updated | date(format='%Y-%m-%d')  }}">
{%- endif -%}
{%- if config.taxonomies -%}{% for tag in page.taxonomies.tags %}
<meta property="article:tag" content="{{ tag }}">
{%- endfor -%}{% endif %}
<meta name="twitter:card" content="summary_large_image">
{%- endblock meta -%}

{%- block script -%}
{%- for script in page.extra.scripts -%}
<script defer src="/scripts/{{script | safe}}.js"></script>
{%- endfor -%}
{%- endblock script -%}

{%- block content -%}
<article>
  <header>
    {{ macros::cover(page=page) }}
    <h1>{{ page.title }}</h1>
    {{ macros::time(page=page, update=true) }}
  </header>
  {%- if not page.draft -%}
  <div class="alert">
    This is a <strong>draft</strong> post.
    Let me know if you have any feedback.
  </div>
  {%- endif -%}
  {{ page.content | safe }}
</article>
{%- endblock content -%}
