---
state: draft
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {% if site.paginate %}
    {% assign docs = paginator.docs %}
    {% else %}
    {% assign docs = site.docs | reverse %}
    {% endif %}


    {%- if docs.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for doc in docs -%}
        {%- if doc.state == "public" -%}
        <a class="post-card" href="{{ doc.url | relative_url }}">
            <img class="post-banner" src="{{ doc.cover | relative_url }}">
            <div class="post-summary">
                <h2>
                    {{ doc.title | escape }}
                </h2>
                <span class="post-meta"><time>{{ doc.date | date: date_format }}</time></span>
                {%- if site.show_excerpts -%}
                {%- if doc.description -%}
                <p>{{ doc.description }}</p>
                {%- else -%}
                {{ doc.content | strip | newline_to_br | split:'<br />' | first }}
                {%- endif -%}
                {%- endif -%}
            </div>
        </a>
        {%- endif -%}
        {%- endfor -%}
    </div>

    {% if site.paginate %}
    <div class="pager">
        <ul class="pagination">
            {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                    paginator.previous_page }}</a></li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
            <li>
                <div class="current-page">{{ paginator.page }}</div>
            </li>
            {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
            </li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
        </ul>
    </div>
    {%- endif %}

    {%- endif -%}

</div>
