---
layout: default
---
<div class="home">
    <header>
        <div class="home-title-container">

            <h1>
                <span>{%- if page.title -%}{{ page.title }}/</span>

                {% if page.tag %}
                {% assign feed = page.feed %}
                {% else %}
                {% assign feed = site.feed.path %}
                {% endif %}
            </h1>
            {% if page.tag %}
            {% assign feeddesc = 'atom feed for the ' | append: page.tag | append: ' tag' %}
            {% else %}
            {% assign feeddesc = 'atom feed for all posts' %}
            {% endif %}
            <a class="feed-link" href="{{ feed | relative_url }}" aria-label="{{ feeddesc }}">
                <svg class="svg-icon" alt="Atom feed" focusable="false">
                    <title>{{ feeddesc }}</title>
                    <use xlink:href="{{ '/assets/icons.svg#feed' | relative_url }}"></use>
                </svg>
            </a>

        </div>
        {%- endif -%}
    </header>

    {{ content }}

    {% if site.paginate %}
    <!-- TODO: #4 Add pagination -->
    {% assign docs = paginator.docs %}
    {% elsif page.tag %}
    {% assign docs = page.docs | reverse %}
    {% else %}
    {% assign docs = site.docs | reverse %}
    {% endif %}


    {%- if docs.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="card-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    {%- comment - %}
    {%- for site_tag in site.tags -%}
    {% assign tag = site_tag[0] %}
    {%- include tag.html -%}
    {%- endfor -%}
    {%- endcomment - %}

    {% unless site.show_drafts %}
    {% assign docs = docs | where_exp: "doc", "site.states contains doc.state" %}
    {% endunless %}
    {% assign size = docs | size | modulo: 2 %}
    {% if size == 0 %}
    {% assign numberedclass = "card-list-even" %}
    {% else %}
    {% assign numberedclass = "card-list-odd" %}
    {% endif %}
    <div class="card-list {{ numberedclass }} {{ size }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for doc in docs -%}
        {%- include card.html doc=doc -%}
        {%- endfor -%}
    </div>

    {% if site.paginate %}
    <div class="pager">
        <ul class="pagination">
            {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                    paginator.previous_page }}</a></li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
            <li>
                <div class="current-page">{{ paginator.page }}</div>
            </li>
            {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
            </li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
        </ul>
    </div>
    {%- endif %}

    {%- endif -%}

</div>
