---
import { ViewTransitions } from "astro:transitions";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { AUTHOR } from "@consts";

const { title, description, keywords } = Astro.props;
if (!title) {
  throw new Error("Title is required for all pages.");
}
if (!description) {
  throw new Error("Description is required for all pages.");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="author" content={AUTHOR.name} />
    <meta name="description" content={description} />
    <meta name="keywords" content={(keywords ?? []).join(", ")} />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-screen-md flex-col bg-stone-200 text-black transition-colors sm:px-4 dark:bg-stone-800 dark:text-white"
  >
    <header class="px-4 py-8 text-left">
      <Header />
    </header>
    <main class="flex-1 py-8 text-left" }>
      <slot />
    </main>
    <footer class="flex flex-row justify-center gap-0 px-4 py-8 text-left">
      <Footer />
    </footer>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </body>
</html>
