---
import BaseLayout from "@layouts/BaseLayout.astro";
import Article from "@components/Article.astro";
import { Image } from "astro:assets";

const { post, render } = Astro.props;
---

<BaseLayout title={post.data.title}>
  <div class="flex flex-col items-center">
    <Image
      src={post.data.cover}
      alt={post.data.title}
      densities={[1, 2, 3, 4]}
      class="aspect-2 mb-12 rounded-3xl shadow shadow-black"
    />
    <Article post={post}><slot /></Article>
  </div>
</BaseLayout>
